@import "compass/utilities/general/clearfix"

body
  font-family: "Open Sans Condensed", sans-serif
  margin-bottom: 50px

h2
  +clearfix
  .actions
    float: right
    display: inline-block
    padding-right: 5px

.transaction
  .paid-at
    width: 100px
  .amount
    width: 90px
    text-align: right
  .balance
    width: 90px
    text-align: right
  .actions
    width: 135px
    text-align: right
    .clear-transaction-button
      display: none
  .editable
    min-height: 20px
  &.january, &.march, &.may, &.july, &.september, &.november
    &.even
      background-color: #FFFFEE
    &.odd
      background-color: #FFFFF9
  &.february, &.april, &.june, &.august, &.october, &.december
    &.even
      background-color: #EEFFEE
    &.odd
      background-color: #F9FFF9
  &.month-changed
    border-top: 2px solid #AAA

.blinking
  background-color: linen

.transaction[data-type="upcoming"]
  .clear-transaction-button
    display: inline-block
