%table.table

  %thead
    %tr.transaction
      %th.paid-at Paid at
      %th.payee Payee
      %th.description Description
      %th.amount Amount
      %td.actions

  %tbody
    = render partial: "transaction_row", collection: transactions, as: :transaction
