%table.table

  %thead
    %tr.transaction
      %th.paid-at Date
      %th.payee Payee
      %th.debit.amount Debit
      %th.credit.amount Credit
      %th.balance.amount Balance
      %td.actions

  %tbody
    - prior_month = nil
    - transactions.each do |transaction|
      - month_changed = prior_month != nil && prior_month != transaction.paid_at.month
      - prior_month = transaction.paid_at.month
      = render partial: "transactions/transaction_row", locals: { transaction: transaction, month_changed: month_changed }
