%table.table

  %thead
    %tr.transaction
      %th.paid-at Date
      %th.payee Payee
      %th.debit.amount Debit
      %th.credit.amount Credit
      %th.balance.amount Balance
      %td.actions

  %tbody
    = render partial: "transactions/transaction_row", collection: transactions, as: :transaction
