%h1 Upcoming Transactions

= render partial: "transactions_table", locals: { transactions: @upcoming_transactions }

%h1 Cleared Transactions

= render partial: "transactions_table", locals: { transactions: @cleared_transactions }

%br

= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary"
