%h1 Upcoming Transactions

#upcoming-transactions
  = render partial: "transactions_table", locals: { transactions: @upcoming_transactions }

%h1 Cleared Transactions

#cleared-transactions
  = render partial: "transactions_table", locals: { transactions: @cleared_transactions }

%h1 Posted Transactions

#posted-transactions
  = render partial: "transactions_table", locals: { transactions: @posted_transactions }

%br

= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary"
